@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 240, 246, 252;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
  --primary: rgb(22, 27, 34);
  --secondary: rgb(110, 118, 129);
  --tertiary: rgba(31, 209, 253, 0.6);
  --strong-primary: #0f1319
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 0, 0, 0;
  } 
}*/

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}


*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--primary);
}

.bg-hero-gradient{
  background: url('/hero-gradient.jpg');
  background-size: cover;
}

.bg-gradient-1{
  background: url('/gradient-1.jpg');
  background-size: cover;
}

.bg-gradient-2{
  background: url('/gradient-2.webp');
  background-size: cover;
}

.bg-gradient-3{
  background: url('/gradient-3.webp');
  background-size: cover;
}

.bg-gradient-4{
  background: url('/gradient-4.jpg');
  background-size: cover;
}

.bg-gradient-5{
  background: url('/gradient-5.jpg');
  background-size: cover;

}

.grid-item-heigth{
  height: 33rem;
}

.bg-strong-primary{
  background: var(--strong-primary);
}

.bg-card-primary{
  background: #0a0c0f;
}

.bg-third-section{
  background: url('/gradient-5.jpg');
  background-size: cover; 
}

.bg-dark-primary{
  background: #0d1117;
  /* background: rgb(13,17,23);
background: linear-gradient(180deg, rgba(13,17,23,1) 83%, rgba(17,17,17,0) 100%); */
}

.bg-dark-light{
  background: #191a30;

}

.bg-gray-dark{
  background: #161b22;
}

.embla {
  overflow: hidden;
}
.embla__container {
  /* backface-visibility: hidden;
  touch-action: pan-y; */
  display: flex;
}
.embla__slide {
  flex: 0 0 20%;
  min-width: 0;
}

.embla__slide__auto{
  flex: 0 0 auto;
  min-width: 0; 
  margin-right:1.25rem;  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: -10;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-reverse {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -10;
  }
}

a svg path {
  animation: dash-reverse 0.2s linear forwards;
}

a:hover svg path {
  animation: dash 0.2s linear forwards;
}

.hero-carousel {
  overflow: hidden;
  white-space: nowrap;
}

.carousel-track {
  display: flex;
  transform: translateX(0);
}

.carousel-img {
  flex: 0 0 auto;
  height: 200px; /* Adjust as needed */
  width: auto;
  margin-right: 10px; /* Adjust as needed */
}